<div class="row">
  <div class="col-8">
    <div *ngFor="let listing of listings" class="m-2">
      <div class="card listing">
        <div class="row">
          <div class="col">
            <img
              src="http://127.0.0.1:8887/profilePhoto.jpg"
              class="card-img-top image"
              alt="profile photo"
            />
            <p class="m-2 align-items-end">{{ listing.username }}</p>
          </div>
          <div class="col-8">
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <h5 class="card-title">{{ listing.title }}</h5>
                </div>
                <div class="col-4">
                  <h6 class="card-subtitle m-1">{{ listing.location }}</h6>
                </div>
              </div>

              <div class="row">
                <p class="card-text">{{ listing.description }}</p>
              </div>

              <div class="row">
                <div class="col-4">
                  <h6 class="card-subtitle category">{{ listing.category }}</h6>
                </div>
                <div class="col-4 buttons">
                  <button type="button" class="btn btn-success m-2">
                    Save
                  </button>
                  <button type="button" class="btn btn-primary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
